<div class="page-image">
    <div class="container">
        <div style="padding-top: 50px;">
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                    <button type="button" class="close" data-dismiss="alert" style="font-size: 1.8em;">&times;</button>
                    <%= value %>
                </div>
            <% end %>
        </div>

        <div class="row">
            <div class="col-lg-1 col-xs-3"></div>
            <div class="col-lg-4 col-xs-6">
                <div style="margin-top: 10px;">
                    <%= form_tag sessions_path do %>
                        <%= link_to dashboard_index_path, class: 'text-center', style: 'text-decoration: none;' do %>
                            <h2 style="padding-top: 25px; text-transform: uppercase; letter-spacing: 2px; font-weight: 500;">
                                <span style="position: relative; top: 5px;">Madison Pointe</span>
                            </h2>
                            <h5 style="font-weight: 400;">homeowners association</h5>
                        <% end %>
                        <br>
                        <div class="panel">
                            <div class="panel-body">
                                <h2 class="text-center text-mp">Login</h2>
                                <div style="margin-top: 30px;">
                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text bg-white text-mp"><%= material_icon.shape(:mail_outline) %></span>
                                        </span>
                                        <%= text_field_tag :email, params[:email], class: 'form-control', id: 'js-email', placeholder: 'Email...' %>
                                    </div>

                                    <div class="input-group" style="margin-bottom: 30px;">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text bg-white text-mp"><%= material_icon.shape(:lock_outline) %></span>
                                        </span>
                                        <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password...' %>
                                    </div>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <button class="btn btn-custom btn-lg btn-block" type="submit">
                                        Login
                                    </button>
                                </div>
                                <%= link_to 'Forgot password?', security_forgot_password_path %>
                                <a href="#" class="float-right">Need help?</a>
                            </div>
                            <div class="panel-footer">
                                <%= link_to "Create account", new_security_path, class: 'btn btn-custom btn-outline-custom btn-block' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
