<% @hide_header = true %>

<div id="wrapper">
    <div class="sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <div class="clearfix text-center" style="width: 250px;">
                <a href="/" class="navbar-brand">
                    MPHOA
                </a>
            </div>

            <ul id="side-menu" class="nav">
                <% if @user.permission?('manage_person_read') %>
                    <li>
                        <%= link_to 'People', manage_people_path, :class => request.path.include?('/manage/people') ? 'active' : '' %>
                    </li>
                <% end %>
                <% if @user.permission?('manage_dues') %>
                    <li>
                        <%= link_to 'Dues', manage_dues_path, :class => request.path.include?('/manage/dues') ? 'active' : '' %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div id="header">
        <div class="profile dropdown">
            <a href="#" data-toggle="dropdown">
                <%= material_icon.shape(:account_circle).md_36 %>
            </a>
            <div class="dropdown-menu">
                <%= link_to "Home", dashboard_index_path, class: 'dropdown-item' %>
                <%= link_to "Logout", logout_path, class: 'dropdown-item' %>
            </div>
        </div>
        <%= yield :header_title %>
    </div>

    <%= yield :breadcrumb %>

    <div id="content">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
                <button type="button" class="close" data-dismiss="alert" style="font-size: 1.8em;">&times;</button>
                <%= value %>
            </div>
        <% end %>

        <%= yield :manage_content %>
    </div>
</div>
