<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Directory' %>
<% end %>

<div class="row">
    <div class="col-md-5">
        <h3>Officers</h3>
        <% @officers.each do |person| %>
            <div class="panel" style="margin-bottom: 15px;">
                <div class="panel-body" style="padding-bottom: 5px;">
                    <h5 class="text-mp">
                        <%= person %>
                        <% if person.officer_position %>
                            <small>
                                &ndash; <%= person.officer_position %>
                            </small>
                        <% end %>
                    </h5>
                    <hr style="margin: 10px 0px;">
                    <ul style="list-style: none;">
                        <li class="clearfix">
                            <div style="float: left; padding-top: 2px; margin-right: 10px;">
                                <%= material_icon.email.style('padding-bottom: -5px;').style('font-size: 18px;') %>
                            </div>
                            <% if person.show_email && person.email %>
                                <%= person.email %>
                            <% else %>
                                Not set
                            <% end %>
                        </li>
                        <li class="clearfix">
                            <div style="float: left; padding-top: 2px; margin-right: 10px;">
                                <%= material_icon.phone.style('padding-bottom: -5px;').style('font-size: 18px;') %>
                            </div>
                            <% if person.show_phone && person.phone %>
                                <%= person.phone %>
                            <% else %>
                                Not set
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-7">
        <h3>All Members</h3>
        <% @all_people.each do |street_number, members| %>
            <div class="panel" style="margin-bottom: 15px;">
                <div class="panel-body" style="padding-bottom: 0px;">
                    <h5 class="text-mp"><%= street_number %></h5>
                    <hr style="margin: 10px 0px;">
                    <div class="row">
                        <% members.each do |person| %>
                            <div class="col-md-6">
                                <h5><%= person %></h5>
                                <ul style="list-style: none;">
                                    <li class="clearfix">
                                        <div style="float: left; padding-top: 2px; margin-right: 10px;">
                                            <%= material_icon.email.style('padding-bottom: -5px;').style('font-size: 18px;') %>
                                        </div>
                                        <% if person.show_email && person.email %>
                                            <%= person.email %>
                                        <% else %>
                                            Not set
                                        <% end %>
                                    </li>
                                    <li class="clearfix">
                                        <div style="float: left; padding-top: 2px; margin-right: 10px;">
                                            <%= material_icon.phone.style('padding-bottom: -5px;').style('font-size: 18px;') %>
                                        </div>
                                        <% if person.show_phone && person.phone %>
                                            <%= person.phone %>
                                        <% else %>
                                            Not set
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
