<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Resources' %>
<% end %>

<div class="row">
    <div class="col-md-5">
        <h4 class="text-md-blue">Documents</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>HOA</h4>
                <ul>
                    <li>
                        <%= link_to 'Bylaws', asset_path('bylaws.pdf'), target: "_blank" %>
                    </li>
                    <li>
                        <%= link_to 'Covenants', asset_path('covenants.pdf'), target: "_blank" %>
                    </li>
                    <li>
                        <%= link_to 'Warranty', asset_path('warranty.pdf'), target: "_blank" %>
                    </li>
                </ul>
                <h4>Plat & House Plans</h4>
                <ul>
                    <li>
                        <%= link_to 'Plat', asset_path('plat.pdf'), target: "_blank" %>
                    </li>
                    <li>
                        <%= link_to 'House Plans', asset_path('housePlans.pdf'), target: "_blank" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h4 class="text-md-blue">Helpful Resources</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>City</h4>
                <ul>
                    <li>City of Seneca &mdash; 864-885-2700</li>
                    <li>Seneca Light & Water &mdash; 864-885-2723</li>
                    <li>Seneca Streets and Sanitation &mdash; 864-885-2750</li>
                    <li>Seneca Police Non-emergency phone number &mdash; 864-885-2718</li>
                    <li>Seneca Code Enforcement &mdash; 864-885-2707 &mdash; Tina Kirby</li>
                </ul>
                <h4>County (Oconee County)</h4>
                <ul>
                    <li>Assessor's Office &mdash; 864-638-4150 &mdash; Angie Ricker</li>
                    <li>General Information &mdash; 864-638-4244 &mdash; info@oconeesc.com</li>
                    <li>DOT &mdash; 864-241-1030</li>
                </ul>
                <h4>Trash Pickup</h4>
                <ul>
                    <li>City of Seneca &mdash; 864-885-2700</li>
                    <li>Pickup is on Wednesday mornings</li>
                </ul>
                <h4>Internet</h4>
                <ul>
                    <li>AT&T Internet Technical Support &mdash; 800-288-2020</li>
                </ul>
                <h4>Home Care</h4>
                <ul>
                    <li>Eric Naylor &mdash; Handyman/Electrician &mdash; 864-671-8089</li>
                    <li>Hannah Hamilton &mdash; Cleaning Service &mdash; 864-323-4971</li>
                </ul>
            </div>
        </div>
    </div>
</div>
