<% content_for :header_title do %>
    People
<% end %>

<% content_for :breadcrumb do %>
    <% people_path = link_to 'People', manage_people_path %>
    <%= render "shared/manage_breadcrumb", items: [people_path, "#{@active_status.capitalize} People"] %>
<% end %>

<% content_for :manage_content do %>
    <div class="panel">
        <div class="panel-body">
            <h3>
                <div class="float-right">
                    <% if @active_status == :active %>
                      <%= link_to 'View inactive', manage_people_inactive_path, class: 'btn btn-sm btn-outline-primary' %>
                    <% else %>
                      <%= link_to 'View active', manage_people_path, class: 'btn btn-sm btn-primary' %>

                    <% end %>
                </div>
                <%= @active_status.capitalize %> People
            </h3>
            <br>
            <table class="table table-hover">
                <% @people.each do |person| %>
                    <tr>
                        <td><%= person.house %></td>
                        <td><%= person %></td>
                        <td>
                            <% if person.email %>
                                <%= person.email %>
                            <% else %>
                                <span style="color: #ccc;">Not set</span>
                            <% end %>
                        </td>
                        <td>
                            <% if person.phone %>
                                <%= person.phone %>
                            <% else %>
                                <span style="color: #ccc;">Not set</span>
                            <% end %>
                        </td>
                        <td>
                            <span class="badge <%= person.is_active ? 'badge-success' : 'badge-danger' %>">
                                <%= person.is_active ? 'Active' : 'Inactive' %>
                            </span>
                        </td>
                        <td width="1%">
                            <%= link_to 'View', manage_person_path(person.id), class: 'btn btn-xs btn-outline-custom' %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
<% end %>

<%= render 'manage/layout' %>
