<% content_for :header_title do %>
    People
<% end %>

<% content_for :breadcrumb do %>
    <% people_path = link_to 'People', manage_people_path %>
    <%= render "shared/manage_breadcrumb", items: [people_path, @person, 'Profile'] %>
<% end %>

<% content_for :manage_content do %>
    <% if ! @person.is_active %>
        <div class="alert alert-warning">
            <%= link_to 'Verify', manage_person_verify_account_path(@person.id), class: 'btn btn-warning btn-sm float-right' %>
            <strong>
                <div style="float: left; padding-top: 2px; margin-right: 4px;">
                    <%= material_icon.error_outline.style('font-size: 20px;') %>
                </div>
                Warning!
            </strong>
            This account has not been verified.
        </div>
    <% end %>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-body">
                    <h3>
                        <% if @user.permission? 'manage_people_write' %>
                            <div class="float-right">
                                <%= link_to 'Edit', edit_manage_person_path, class: 'btn btn-outline-custom btn-sm' %>
                            </div>
                        <% end %>
                        Profile
                    </h3>
                    <br>
                    <table class="table">
                        <tr>
                            <th>First name</th>
                            <td><%= @person.first_name %></td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td><%= @person.last_name %></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <% if @person.email %>
                                    <%= @person.email %>
                                <% else %>
                                    <span style="color: #ccc;">Not set</span>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>
                                <% if @person.phone %>
                                    <%= @person.phone %>
                                <% else %>
                                    <span style="color: #ccc;">Not set</span>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td><%= @person.house %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Dues</h3>
                            <table class="table table-striped">
                                <thead>
                                    <th>Year</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </thead>
                                <% @person.house.dues_houses.each do |dues_house| %>
                                    <tr>
                                        <td><%= dues_house.due.year %></td>
                                        <td>$<%= dues_house.due.amount %></td>
                                        <td><%= dues_house.paid ? 'Paid' : 'Not paid' %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Permissions</h3>
                            <table class="table table-striped">
                                <thead>
                                    <th>Permission</th>
                                    <th width="1%"></th>
                                </thead>
                                <% @person.valid_permissions.each do |permission| %>
                                    <tr>
                                        <td><%= permission[:name] %></td>
                                        <td>
                                            <%= link_to (@person.permission?(permission[:key]) ? 'Revoke' : 'Apply'), manage_person_toggle_permission_path(id: @person.id, permission: permission[:key]), class: "btn btn-xs btn-#{(@person.permission?(permission[:key]) ? 'danger' : 'custom')}" %>
                                        </td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-body">
                    <h3>Activity Log</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    <h3>
                        Status
                        <small style="font-size: 0.6em;">
                            <span class="badge <%= @person.is_active ? 'badge-success' : 'badge-danger' %>">
                                <%= @person.is_active ? 'Active' : 'Inactive' %>
                            </span>
                        </small>
                    </h3>
                    <br>
                    <dl>
                        <dt>Account status</dt>
                        <dd>
                            <% if @person.active %>
                                <span class="text-success">
                                    <span style="padding-top: 4px;"><%= material_icon.checkmark.style('font-size: 16px;') %></span>
                                    Active
                                </span>
                            <% else %>
                                <span class="badge badge-danger">
                                    Inactive
                                </span>
                            <% end %>
                        </dd>
                        <dt>Email verified</dt>
                        <dd>
                            <% if @person.email_verified_at %>
                                <span class="text-success">
                                    <span style="padding-top: 4px;"><%= material_icon.checkmark.style('font-size: 16px;') %></span>
                                    <%= @person.email_verified_at.strftime('%m/%d/%y') %>
                                </span>
                            <% elsif @person.email == nil %>
                                Email not set
                            <% else %>
                                <span class="badge badge-danger">
                                    Not verified
                                </span>
                            <% end %>
                        </dd>
                        <dt>Account verified</dt>
                        <dd>
                            <% if @person.verified_at %>
                                <span class="text-success">
                                    <span style="padding-top: 4px;"><%= material_icon.checkmark.style('font-size: 16px;') %></span>
                                    <%= @person.verified_at.strftime('%m/%d/%y') %>
                                </span>
                            <% else %>
                                <span class="badge badge-danger">
                                    Not verified
                                </span>
                            <% end %>
                        </dd>
                    </dl>
                </div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-body">
                    <h3>Emails</h3>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= render 'manage/layout' %>