<div class="page-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-3"></div>
            <div class="col-lg-6 col-xs-6">
                <div style="margin-top: 75px;">
                    <% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>">
                            <button type="button" class="close" data-dismiss="alert" style="font-size: 1.8em;">&times;</button>
                            <%= value %>
                        </div>
                    <% end %>

                    <%= form_tag security_index_path do %>
                        <%= link_to dashboard_index_path, class: 'text-center text-white', style: 'text-decoration: none;' do %>
                            <h2 style="padding-top: 25px; text-transform: uppercase; letter-spacing: 2px; font-weight: 500;">
                                <span style="position: relative; top: 5px;">Madison Pointe</span>
                            </h2>
                            <h5 style="font-weight: 400;">homeowners association</h5>
                        <% end %>
                        <br>
                        <div class="panel">
                            <div class="panel-body">
                                <h2 class="text-center text-mp">Create Account</h2>
                                <div style="margin-top: 30px;">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-6">
                                            <%= text_field_tag :first_name, params[:first_name], class: 'form-control', id: 'js-first_name', placeholder: 'First Name' %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= text_field_tag :last_name, params[:last_name], class: 'form-control', id: 'js-last_name', placeholder: 'Last Name' %>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-6">
                                            <%= text_field_tag :phone, params[:phone], class: 'form-control', id: 'js-phone', placeholder: 'Phone' %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= select_tag :house_id, options_from_collection_for_select(@houses, :id, :address), prompt: '-- House Number --', class: 'form-control' %>
                                        </div>
                                    </div>

                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <%= text_field_tag :email, params[:email], class: 'form-control', id: 'js-email', placeholder: 'Email' %>
                                    </div>

                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
                                    </div>

                                    <div class="input-group" style="margin-bottom: 10px;">
                                        <%= password_field_tag :password_confirmation, nil, class: 'form-control', placeholder: 'Confirm password' %>
                                    </div>
                                </div>
                                <hr>
                                <div style="margin-bottom: 10px;">
                                    <button class="btn btn-custom btn-lg btn-block" type="submit">
                                        Create account
                                    </button>
                                </div>
                                <%= link_to  "I already have an account", login_path %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
