<% content_for :form_container do %>
    <div class="panel" style="margin-top: 20px;">
        <div class="panel-body">
            <h2 class="text-center text-mp">Reset Password</h2>
            <div style="margin-top: 30px;">
                <%= form_tag security_forgot_password_path do %>
                    <div class="input-group" style="margin-bottom: 10px;">
                        <%= text_field_tag :email, params[:email], class: 'form-control', id: 'js-email', placeholder: 'Email' %>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <%= recaptcha_tags %>
                        <button class="btn btn-custom btn-lg btn-block" type="submit" style="margin-top: 10px;">
                            Reset password
                        </button>
                    </div>
                    <hr>
                    <%= link_to  "Back to login", login_path %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<%= render 'security/layout' %>