<center>
    <div class="card bg-primary text-white" style="margin-top: 125px;">
        <div class="card-body">
            <%= image_tag 'default-placeholder', class: 'rounded-circle', style: 'max-width: 50%; margin-top: -165px;' %>
            <h3 class="card-title" style="margin-bottom: 0px; font-weight: 200;"><%= @person %></h3>
        </div>
    </div>
</center>
<br>
<div class="text-secondary">
    <dl class="row">
        <dt class="col-md-3"><span class="float-right"><%= material_icon.mail %></span></dt>
        <dd class="col-md-9"><%= @person.email %></dd>
    </dl>
    <hr style="margin: -10px 0px 15px 0px;">
    <dl class="row">
        <dt class="col-md-3"><span class="float-right"><%= material_icon.phone %></span></dt>
        <dd class="col-md-9">(864) 247-9619</dd>
    </dl>
    <hr style="margin: -10px 0px 15px 0px;">
</div>
