<% content_for :profile_content do %>
    <div class="panel">
        <div class="panel-header">
            <div class="float-right">
                <%= link_to edit_profile_path(@user), class: 'btn btn-custom btn-sm' do %>
                    Edit
                <% end %>
            </div>
            Contact Info
        </div>
        <div class="panel-body">
            <dl class="row">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.account_circle %></span></dt>
                <dd class="col-sm-11"><%= @user %></dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.mail %></span></dt>
                <dd class="col-sm-11"><%= @user.email %></dd>
            </dl>
            <dl class="row" style="margin-bottom: 0px;">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.phone %></span></dt>
                <dd class="col-sm-11"><%= @user.phone ? @user.phone : material_icon.block %></dd>
            </dl>
        </div>
    </div>
    <br>
    <div class="panel">
        <div class="panel-header">
            Privacy &amp; Notifications
        </div>
        <div class="panel-body">
            <dl class="row" style="margin-bottom: 0px;">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.mail %></span></dt>
                <dd class="col-lg-9 col-sm-8">Show my email in directory <span class="text-md-blue">(currently <%= 'not' unless @user.show_email %> showing)</span></dd>
                <dd class="col-lg-2 col-sm-3">
                    <%= link_to "#{@user.show_email ? 'Revoke' : 'Allow'}", profile_update_settings_path('show_email'), class: "btn btn-#{@user.show_email ? 'danger' : 'custom'} btn-sm btn-block" %>
                </dd>
            </dl>
            <dl class="row" style="margin-bottom: 0px;">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.phone %></span></dt>
                <dd class="col-lg-9 col-sm-8">Show my phone in directory <span class="text-md-blue">(currently <%= 'not' unless @user.show_phone %> showing)</span></dd>
                <dd class="col-lg-2 col-sm-3">
                    <%= link_to "#{@user.show_phone ? 'Revoke' : 'Allow'}", profile_update_settings_path('show_phone'), class: "btn btn-#{@user.show_phone ? 'danger' : 'custom'} btn-sm btn-block" %>
                </dd>
            </dl>
            <hr>
            <dl class="row" style="margin-bottom: 0px;">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.notifications %></span></dt>
                <dd class="col-lg-9 col-sm-8">Notify me when a new announcement is posted <span class="text-md-blue">(currently <%= 'not' unless @user.notify_announcement %> notifying)</span></dd>
                <dd class="col-lg-2 col-sm-3">
                    <%= link_to "#{@user.notify_announcement ? 'Revoke' : 'Allow'}", profile_update_settings_path('notify_announcement'), class: "btn btn-#{@user.notify_announcement ? 'danger' : 'custom'} btn-sm btn-block" %>
                </dd>
            </dl>
            <dl class="row" style="margin-bottom: 0px;">
                <dt class="col-sm-1"><span class="text-center"><%= material_icon.notifications %></span></dt>
                <dd class="col-lg-9 col-sm-8">Notify me when my yearly dues are needed <span class="text-md-blue">(currently <%= 'not' unless @user.notify_dues %> notifying)</span></dd>
                <dd class="col-lg-2 col-sm-3">
                    <%= link_to "#{@user.notify_dues ? 'Revoke' : 'Allow'}", profile_update_settings_path('notify_dues'), class: "btn btn-#{@user.notify_dues ? 'danger' : 'custom'} btn-sm btn-block" %>
                </dd>
            </dl>
        </div>
    </div>
<% end %>

<% content_for :dues_content do %>
    <div class="panel">
        <div class="panel-header">
            <div class="float-right">
                <% unless @user.paid_yearly_dues?(@year) %>
                    <form action="<%= profile_pay_dues_path %>" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= @stripe_api_key %>"
                            data-amount="<%= @user.amount_due_for_year_stripe(@year) %>"
                            data-name="Madison Pointe"
                            data-description="HOA Dues"
                            data-locale="auto"
                            data-billingAddress="true"
                            data-allowRememberMe="false"
                            data-label="Pay with card">
                        </script>
                        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
                    </form>
                <% end %>
            </div>
            <%= @year %> Dues
        </div>
        <div class="panel-body">
            <h5 class="text-<%= @user.paid_yearly_dues?(@year) ? 'success' : 'danger' %>" style="font-weight: 300;">
                <%= @user.dues_for_year(@year) %>
            </h5>
        </div>
    </div>
    <br>
<% end %>

<%= render 'profile/layout' %>
